<div class="container-fluid g-0 p-2">

    <div class="row g-0">

        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <img src="../../assets/Images/{{employee.profile}}" alt="Profile Image" class="profile">
        </div>

        <div class="col ps-2">

            <div class="row g-0">

                <div class="col-md-10 text-center">
                    <h3 class="name">Name :{{employee.firstname | titlecase}} {{employee.lastname | titlecase}}</h3>
                </div>

                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-success"
                        (click)="editEmployeeClicked()"  >Edit</button>  
                          <!-- -->
                        <button type="button" class="btn btn-outline-danger"
                        (click)="deleteEmployeeClicked()"    >Delete</button>
                           
                    </div>
                </div>

            </div>

            <div class="row g-0 mt-3">

                <div class="col-md">

                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 fst-italic text-secondary">
                            <tr>
                                <td colspan="2">Personal Details</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Age</td>
                                <td>{{employee.age}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{employee.email}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{employee.address }}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{employee.phone }}</td>
                            </tr>
                           
                        </tbody>
                    </table>

                </div>

                <div class="col">

                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 fst-italic text-secondary">
                            <tr>
                                <td colspan="2"> Information</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>State</td>
                                <td>{{employee.state}}</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{{employee.country}} </td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>{{employee.tags}} </td>
                            </tr>
                           
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>

</div>